#
# Параметры для запуска проекта
# Перед запуском Docker переименуйте этот файл в .env
# и заполните параметры.
#

# WordPress
WORDPRESS_EMAIL=EMAIL
WORDPRESS_USER=LOGIN
WORDPRESS_PASSWORD="PASSWORD"

# WP Config
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_DB_NAME=wordpress

# MySQL
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=root