/* Сообщения */
#inerMessage
{
	display: none;
	position:fixed;
	z-index:999999;
	margin: auto;
	top: 0; left: 40%;
	background-color:#ff9;
	border: 1px solid gray;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
	box-shadow: 4px 4px 10px; 
	font-size: 10pt;
}

#inerFilter
{
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

#inerEmployee, #inerMonth, #inerYear, #inerReload
{
	padding: 2px;
	background-color: #fff;
	border: 1px solid #ccc;
}

#inerReload
{
	background-color: #999;
}

#inerHot
{
	font-size: 10pt;
}